.lae-text{
    overflow: hidden !important;
}

.lae-text span{
    display: inline-block;
    position: relative;
    transition: 0.8s;

    opacity: 0;
}

.lae-image{
    transform: translate(0 , -10%) ;
    scale: 1.2;
    transition: 1.2s;
}

.lae-fade{
    transform: translate(0 , 100%);
    opacity: 0;
    scale: 0.9;
    transition: 1.2s;
}
